@model List<ArtworkModel>

@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<h1>List of images for search query "@ViewData["Query"]"</h1>

<form class="input-group mb-3" id="searchForm" method="get" asp-controller="Artwork" asp-action="Search" onsubmit="submitSearchForm(); return false;">
    <input class="form-control mr-sm-2" type="text" id="tags" name="tags" placeholder="Search by tags" />
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="artwork-grid">
    @foreach (var artwork in Model)
    {
        <div class="artwork-item">
            <a asp-controller="Artwork" asp-action="Details" asp-route-id="@artwork.Id">
                <img src="@artwork.PreviewUrl" alt="@artwork.Description" />
            </a>
        </div>
    }
</div>

<div class="navigation">
    @if (Model.Any())
    {
        var currentPage = ViewData["CurrentPage"] as int? ?? 1;

        if (currentPage > 1)
        {
            <a asp-action="Search" asp-controller="Artwork" asp-route-page="@(currentPage - 1)"><span class="material-symbols-outlined">arrow_back</span></a>
        }

        <span class="page-number">@(currentPage)</span>

        <a asp-action="Search" asp-controller="Artwork" asp-route-page="@(currentPage + 1)"><span class="material-symbols-outlined">arrow_forward</span></a>
    }
</div>

<script>
    function submitSearchForm() {
        var tags = document.getElementById('tags').value;
        var url = '/Artwork/Search/' + encodeURIComponent(tags);
        window.location.href = url;
    }
</script>
